<div class="validation-frame">
    <div class="first">
        <div>
            <select class="select-path" name="path" id="path">
                ngFor="let path of paths"
            </select>
        </div>
        <div>
            <img src="/recorrido-sinecta/" alt=""><p>Ayuda</p>
            <p>Ayuda</p>
            <p>Ayuda</p>
            <p>Ayuda</p>
        </div>
    </div>
    <div class="second">
        <div class="text-area">
            <textarea id="freeform" name="freeform" rows="10" cols="110">
                Ayuda...
            </textarea>
        </div>
        <div class="btn-area">
            <button class="btn-primary">Valido</button>
            <button class="btn-primary">No Valido</button>
        </div>
    </div>
</div>